
@{
    ViewBag.Title = "LienHeThanhCong";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<div class="container">
    <div class="responsive_tabs_agileits">
        <div id="horizontalTab">
            <div class="resp-tabs-container">
                <div class="tab">
                    <div class="single_page_agile_its_w3ls text-center">
                        <div class="bb-grids bb-left-agileits-w3layouts">
                            <div class="contact">
                                <img src="~/Public/images/dangky-thanh-cong.png" class="text-center" />
                                <p class="text-footer">
                                    CẢM ƠN BẠN ĐÃ LIÊN HỆ ĐẾN ELITE SHOPPY.
                                </p>
                                <p class="white-w3ls text-center">
                                    Nhân viên của chúng tôi sẽ phản hồi liên hệ đến bạn trong thời gian sớm nhất.
                                </p>
                                <br />
                                <a href="~/dang-nhap" class="white-w3ls text-center">
                                    <form action="@Url.Action("Index","Site")" method="post">
                                        <button type="submit" class="btn btn-outline-success hvr-outline-out btn-block"><strong>TIẾP TỤC MUA SẮM</strong></button>
                                    </form>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

