
@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}
<div class="container-fluid">
    <div class="col-md-12 bb-grids bb-left-agileits-w3layouts">
        <div class="bb-left-agileits-w3layouts-inner grid">
            <figure class="effect-roxy">
                <img src="~/Public/images/slidersinger.jpg" alt=" " class="img-responsive" />
                <figcaption>
                    <h3>LIÊN HỆ</h3>
                </figcaption>
            </figure>
        </div>
    </div>
</div>
<div class="banner_bottom_agile_info">
    <div class="container">
        <div class="agile-contact-grids">
            <div class="agile-contact-left">
                <div class="col-md-6 address-grid">
                    <h4>Elite <span>Shoppy</span></h4>
                    <div class="mail-agileits-w3layouts">
                        <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                        <div class="contact-right">
                            <p>Điện thoại </p><span>19006656</span>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="mail-agileits-w3layouts">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        <div class="contact-right">
                            <p>Mail </p>elite@sport.com
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="mail-agileits-w3layouts">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <div class="contact-right">
                            <p>Địa chỉ</p><span>Thành phố Hồ Chí Minh</span>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <br />
                    <ul class="social-nav model-3d-0 footer-social w3_agile_social two">
                        <li class="share">CHIA SẺ : </li>
                        <li>
                            <a href="#" class="facebook">
                                <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="twitter">
                                <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                                <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="instagram">
                                <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                                <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="pinterest">
                                <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                                <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 contact-form">
                    <form action="#" method="post">
                        <div class="form-group my-2">
                            <label class="white-w3ls">Họ tên khách hàng</label>
                            <input type="text" name="fullname" required="">
                        </div>
                        <div class="form-group my-2">
                            <label class="white-w3ls">Điện thoại</label>
                            <input type="text" name="phone" required="">
                        </div>
                        <div class="form-group my-2">
                            <label class="white-w3ls">Email</label>
                            <input type="email" name="email" required="">
                        </div>
                        <div class="form-group my-2">
                            <label class="white-w3ls">Tiêu đề liên hệ</label>
                            <input type="text" name="title" required="">
                        </div>
                        <div class="form-group my-2">
                            <label class="white-w3ls">Nội dung liên hệ</label>
                            <input type="text" name="detail" required="">
                        </div>
                        <input type="submit" value="LIÊN HỆ">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contact-w3-agile1 map" data-aos="flip-right">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d100949.24429313939!2d-122.44206553967531!3d37.75102885910819!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80859a6d00690021%3A0x4a501367f076adff!2sSan+Francisco%2C+CA%2C+USA!5e0!3m2!1sen!2sin!4v1472190196783" class="map" style="border:0" allowfullscreen=""></iframe>
</div>


